html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
body,html{
  font-family: 'Roboto';
  color: #252323;
}

.clearfix:after {
    display:block;
    clear:both;
}

.header{
  height: 80px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #252323;
  color: #f5f1ed;
  left: 0;
  padding-right: 10px;
  z-index:10;
}

.header div{
  font-size: 16px;
  font-weight: 600;
}

.menu{
  display: inline-block;
  float: right;
}

.menu li{
  margin: 0px;
  list-style: none;
  
}

.menu a{
  transition: all linear 0.1s;
  background-color: #252323;
  color:  #dad2bc;
}

.menu li:hover > a, .menu .active > a {
    text-decoration:none;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

.menu > ul > li > a {
    padding:29px 20px;
    display:inline-block;
}

.menu > ul > li {

    display:inline-block;
    position:relative;
    font-size:16px;
}

.menu > ul > li:hover > a, .menu > ul > .active > a,.sub-menu li a:hover {
  background-color: #dad2bc;
  color:  #252323;
}
.menu > ul > .active > a{
  border-bottom: 5px solid #a99985;
}

.menu li:hover .sub-menu {
    z-index:100;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.1s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#252323;
    
}
 
.sub-menu li {
    display:block;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.header .search-form{
  display: inline-block;
  position: relative;
  margin-left: 20px;
  width: 400px;

}

.input-group-addon{
  background-color: #252323;
  color:  #dad2bc;
  border: 1px solid #70798c;
}

.main-content{
  margin-top: 80px;
}

.search-form form  input{
  color: #f5f1ed;
  background-color: #252323;
  font-size: 16px;
  border: 1px solid #70798c;
}

.search-form form input:focus{
  border-color: #a99985;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,153,133,.6);
}

.logo-image-large{
  height: 70px;
  padding-top: 5px;
  margin-left: 6px;
}

.vertical-menu{
  padding-left: 0 ;
  padding-right: 0 ;
  font-size: 16px;
  font-weight: 600;
}

.v-menu-header{
	text-align: center;
    padding: 15px 0px;
    color: #f5f1ed;
    background-color: #252323;
    font-size:16px;
}

.vertical-menu > ul li{
  padding: 15px 0px;
  padding-left: 15px;
  background-color: #252323;
  color: #f5f1ed;
  transition: all 0.1s linear;
}
.vertical-menu ul li:hover{
  background-color: #dad2bc;
  color:  #252323;
}
.vertical-menu ul li.v-active{
  border-right: 8px solid #a99985;
  background-color: #dad2bc;
  color:  #252323;
}

/*This is the css for div elements*/
.content{
  min-height: 400px;
}

.content > div{
  display: none;
  transition: all 0.1s linear;
}
.content div.v-active{
  display: block;
}
.content-heading{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top:10px;
  text-align: center;
}

.footer{
  background-color: #1E2022;
  color: #F0F5F9;
  padding: 40px;
  text-align: center;
}
.footer ul{
  list-style: none;
  padding: 0px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: #F0F5F9;
}
.fa-twitter {
  background: #55ACEE;
  color: #F0F5F9;
}
.fa-google-plus{
  background: #d34836;
  color: #F0F5F9;
}